header {
    position: fixed;
    background-color: #494444;
}

.navbar a {
    margin-left: 6px;
}

.navbar {
    margin-left: 0px;
}

.main img {
    display: none;
}

.menu {
    display: none;
}

.menu li a {
    flex-direction: row;
}

.hi {
    font-size: 4rem;
    text-align: center;
}

.intro,
.about {
    padding: 10px;
}

.service {
    height: 720px;
}

.box {
    float: none;
    display: block;
    margin: auto;
    margin: 50px auto;
}

.contact {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}

.contact h2 {
    padding: 5px;
}

.input {
    margin: 2px;
    padding: 0px;
    text-align: center;
}

.btn {
    width: 100px;
    height: 30px;
    margin-left: 0;
}

.email {
    display:none;
}
.login {
    width: 75%;
    height: 400px;
    background-color: rgb(201 221 175);
    padding-left: 56px;
    padding-top: 58px;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 100px;
}
